.Weather {
  border: 1px solid #dadde1;
  font-family: Arial, sans-serif;
  padding: 16px;

  border-radius: 4px;
  color: rgb(135, 135, 135);
}
.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  color: #202124;

  display: block;
  margin: 20px 0 0 0;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: 400;
  color: #202124;
  font-size: 64px;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.Weather canvas {
  margin-right: 10px;
}

.Weather a {
  text-decoration: none;
}
